/* all pages */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #242e52;
}

body {
  background-color: #121729;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #121729;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 10px solid #242e52;
  width: 100%;
}

.sticky {
  position: fixed;
  z-index: 10;
}

header img {
  margin-left: 20px;
  margin-bottom: 10px;
}

nav {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  min-width: 580px;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-weight: 700;
  color: #5f6891;
  /*margin-left: 20px;*/
}

nav a:hover {
  color: #efaa0f;
}

h1 {
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 700;
  color: #3c4d88;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #3c4d88;
  font-weight: 700;
}

p {
  line-height: 20px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.beige {
  background-color: #d1c1a4;
}

.gray {
  background-color: #bfbbb9;
}

.footer-relative {
  position: relative;
  top: 90px;
}
/* homepage */
.home {
  background-image: url("../../resources/images/CC-yarnbomb_1017.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 678px;
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: 90px;
  border-bottom: 10px solid #242e52;
}

.home {
  height: 100%;
  width: auto;
}

.home img {
  width: 100%;
  height: auto;
}

.label {
  background-color: #121729;
  width: 215px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label p {
  color: #5f6891;
  font-size: 14px;
  padding-left: 10px;
}

.label p:nth-child(even) {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* vision */
.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #cdb07a;
  position: relative;
  top: 90px;
}

.text {
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

.main img {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #cdb07a;
  position: relative;
  top: 90px
}

.mission .text {
  text-align: right;
}

.values {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 950px;
  position: relative;
  top: 90px;
  border-bottom: 10px solid #cdb07a;
}

.grid {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* upcoming */
.upcoming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #e0d6c5;
  height: 638px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 90px;
}

/* portfolio */
.portfolio {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #e0d6c5;
  text-align: center;
  height: 618px;
  padding-top: 20px;
}

.three-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 450px;
  border-top: 10px solid #c2ac83;
  border-bottom: 10px solid #c2ac83;
  margin: 20px 0px;
}

.three-categories img {
  width: 360px;
  margin: 16px 24px;
}

.three-categories p {
  width: 360px;
}

.column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 40px;
}

.column2 {
  width: 414px;
  background-color: #d1c1a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column3:hover, .column1:hover {
  background-color: #9e9fad;
}

.column2:hover {
  background-color: #c8b591;
}

a h3:hover {
  color: #efaa0f;
}

/* By the People for the People */
.BythePeople, .msyb, .ouay, .ht, .river, .barriers, .ccyb, .taskparty, .shebytes, .shadow2shadow, .bazaar, .specimens1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e0d6c5;
  text-align: center;
  height: 638px;
}

.beigeframe {
  display: flex;
  justify-content: center;
  border-top: 10px solid #c2ac83;
  border-bottom: 10px solid #c2ac83;
  margin: 30px 0px;
}

.carousel {
  width: 1250px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.matte {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: #d1c1a4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.matte:nth-child(even) {
  background-color: #bfbbb9;
}

.matte img {
  margin: 10px 20px 15px 20px;
}

.matte:hover {
  background-color: #9e9fad;
}

.matte:nth-child(odd):hover {
  background-color: #c8b591;
}

.matte h4:hover {
  color: #efaa0f;
}

/* by the people subpages */

.grayframe {
  display: flex;
  justify-content: center;
  border-top: 10px solid #9e9fad;
  border-bottom: 10px solid #9e9fad;
  margin-top: 20px;
}

.grayframe img {
  margin: 25px;
}

.description {
  display: flex;
  justify-content: center;
  border-bottom:  10px solid #c2ac83;
  padding: 15px;
  margin-bottom: 20px;
}

.description p {
  text-align: center;
  width: 700px;
}

.horizontal-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontal-nav h3 {
  margin: 0px 180px;
}
.ht p {
  width: 660px;
}
.river p, .barriers p, .ccyb p, .taskparty p, .shebytes p, .specimens1 p{
  width: 900px;
}

/* who */
.who {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0d6c5;
  width: 100%;
  position: relative;
  top: 90px;
}

.bios {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 800px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: left;
}

.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 170px;
}

.bio:nth-child(odd) {
  background-color: #d1c1a4;
}

.bio:nth-child(even) {
  background-color: #c0bab8;
}

.bio-text {
  padding: 0px 20px;
}

/*contact us*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 8px; /* Some padding */
    border: 1px solid #bfbbb9; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #e0d6c5;
    font-size: 14px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #5f6891;
    color: #d1c1a4;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #efaa0f;
    color: #242e52;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #d1c1a4;
    padding: 20px 25%;
    height: 598px;
}

/* all pages */
footer {
  display: flex;
  background-color: #121729;
  height: 40px;
  align-items: center;
  justify-content: center;
}

 footer p {
     font-size: 14px;
     color: #5f6891;
 }
